
/* === CONTENT SECTIONS === */

.content-sections {
  background: var(--bg-color);
  padding: 2rem 0;
  position: relative;
  z-index: 2;
}

#continuing-section img {
  height: 162px;
}

@media (max-width: 768px) {
  #continuing-section img {
    height: 151px;
  }
}

@media (max-width: 480px) {
  #continuing-section img {
    height: 120px;
  }
}