@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");

@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);
@import "./styles/auth.css";

/* === ROOT VARIABLES === */
:root {
  --primary-color: #181a1ccd;
  --bg-color: #181a1c;
  --card-bg: #181818;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --border-color: #333333;
  --gradient-overlay: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  
}

/* === SCROLL BEHAVIOR === */
html {
  scroll-behavior: smooth;
  
}

body {
  
  font-family: "Lato", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-primary);
  line-height: 1.6;
  overflow-x: hidden;
}

html, body {
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #181818;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777;
}
